body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

a:hover {
    background-color: #333;
    color: white;
}