 body {
            font-family:Georgia, 'Times New Roman', Times, serif;
            margin: 20px auto;
            padding: 0;
            background-color: #000000;

        }

        .block {
            position: absolute;
            width: 300px;
            height: 110px;
            padding: 20px 30px;
            background-color: #ffc1d7;
            color: #000000;
            border-radius: 0px;
            transition: transform 0.3s ease-in-out;
        }

        .block:hover {
            transform: translateX(20px) translateY(-20px);
            z-index: 1;
            height: 120px;
        }

        .block:nth-child(2) {
            background-color: #fb94b8;
        }

        .block:nth-child(3) {
            background-color: #fc5d95;
        }

        .block:nth-child(4) {
            background-color: #f91d6a;
        }

        .block-content {
            margin-top: 10px;
        }
